{% extends "layout.html" %}
{% block content %}

<h2>Summary</h2>


<div class="summary-cards">
    <div class="card">
        <h4>Total Income</h4>
        <p>₹{{ "%.2f"|format(total_income) }}</p>
    </div>

    <div class="card">
        <h4>Total Expense</h4>
        <p>₹{{ "%.2f"|format(total_expense) }}</p>
    </div>

    <div class="card">
        <h4>Profit / Loss</h4>
        <p>₹{{ "%.2f"|format(profit) }}</p>
    </div>
</div>

<hr>

<h3>Daily Breakdown</h3>

<table border="1" width="100%">
    <tr>
        <th>Date</th>
        <th>Income</th>
        <th>Expense</th>
        <th>Profit</th>
    </tr>

    {% for row in daily_data %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>₹{{ "%.2f"|format(row[1]) }}</td>
        <td>₹{{ "%.2f"|format(row[2]) }}</td>
        <td>₹{{ "%.2f"|format(row[3]) }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}
