{% extends "layout.html" %}
{% block content %}

<h2>Records</h2>


<form method="get" action="{{ url_for('view_records') }}">
    <label>Type</label>
    <select name="t">
        <option value="both" {% if t=='both' %}selected{% endif %}>Both</option>
        <option value="income" {% if t=='income' %}selected{% endif %}>Income</option>
        <option value="expenses" {% if t=='expenses' %}selected{% endif %}>Expenses</option>
    </select>

    <label>Start</label>
    <input type="date" name="start" value="{{ start or '' }}">

    <label>End</label>
    <input type="date" name="end" value="{{ end or '' }}">

    <button type="submit">Filter</button>
</form>

<hr>

{% if incomes %}
<h3>Income Records</h3>

<table border="1">
    <tr>
        <th>Amount</th>
        <th>Description</th>
        <th>Action</th>
    </tr>

    {% for i in incomes %}
    <tr>
        <form method="POST" action="{{ url_for('edit_income', id=i[0]) }}">
            <td>
                <input type="number" step="0.01" name="amount" value="{{ i[1] }}" required>
            </td>
            <td>
                <input type="text" name="description" value="{{ i[2] }}" required>
            </td>
            <td>
                <button type="submit">Update</button>
                <a href="{{ url_for('delete_income', id=i[0]) }}"
                   onclick="return confirm('Are you sure?')">
                   Delete
                </a>
            </td>
        </form>
    </tr>
    {% endfor %}
</table>


{% endif %}


{% if expenses %}
<h3>Expense Records</h3>

<table border="1">
    <tr>
        <th>Amount</th>
        <th>Description</th>
        <th>Action</th>
    </tr>

    {% for e in expenses %}
<tr>
    <form method="POST" action="{{ url_for('edit_expenses', id=e[0]) }}">
        <td>
            <input type="number" step="0.01" name="amount" value="{{ e[2] }}" required>
        </td>
        <td>
            <input type="text" name="description" value="{{ e[3] }}" required>
        </td>
        <td>
            <button type="submit">Update</button>
            <a href="{{ url_for('delete_expense', id=e[0]) }}">Delete</a>
        </td>
    </form>
</tr>
{% endfor %}

</table>


{% endif %}

{% endblock %}
